<!-- Stepper -->
<div class="my-8">
  <ul class="relative flex flex-row gap-x-2 w-4/5 ms-auto">
    <!-- Item -->
    <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
      <div
        class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle"
      >
        <span
          class="size-7 flex justify-center items-center flex-shrink-0 bg-white-100 border border-gray-200 font-medium rounded-full"
          [ngClass]="{
            'bg-gray-700 text-white': activeStep >= 1
          }"
        >
          1
        </span>
        <span class="ms-2 block text-sm font-medium"> Cart </span>
      </div>
      <div
        class="w-full h-px flex-1 bg-gray-200 group-last:hidden"
        [ngClass]="{
          'bg-gray-700 ': activeStep >= 2
        }"
      ></div>
    </li>
    <!-- End Item -->

    <!-- Item -->
    <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
      <div
        class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle"
      >
        <span
          class="size-7 flex justify-center items-center flex-shrink-0 border bg-white-100 rounded-full"
          [ngClass]="{
            'bg-gray-700 text-white': activeStep >= 2
          }"
        >
          2
        </span>
        <span class="ms-2 block text-sm font-medium"> Checkout </span>
      </div>
      <div
        class="w-full h-px flex-1 bg-gray-200 group-last:hidden"
        [ngClass]="{
          'bg-gray-700 ': activeStep >= 3
        }"
      ></div>
    </li>
    <!-- End Item -->

    <!-- Item -->
    <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
      <div
        class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle"
      >
        <span
          class="size-7 flex justify-center items-center flex-shrink-0 border bg-white-100 font-medium rounded-full"
          [ngClass]="{
            'bg-gray-700 text-white': activeStep >= 3
          }"
        >
          3
        </span>
        <span class="ms-2 block text-sm font-medium"> Summary </span>
      </div>
      <!-- <div class="w-full h-px flex-1 bg-gray-800 group-last:hidden"></div> -->
    </li>
    <!-- End Item -->
  </ul>
</div>
<!-- End Stepper -->

<router-outlet></router-outlet>
