<div class="bg-gray-50 text-sm p-4">
  <div class="w-2/3 mx-auto">
    <div
      class="mx-1 p-4 flex flex-row items-center justify-center gap-x-10 bg-white rounded-lg shadow-md"
    >
      <a
        class="font-medium text-gray-600"
        aria-current="page"
        routerLink="/profile"
        >Profile</a
      >
      <a
        class="font-medium text-gray-600 hover:text-gray-400"
        routerLink="addressList"
        >Addresses</a
      >
      <a
        class="font-medium text-gray-600 hover:text-gray-400"
        routerLink="orders"
        >Orders</a
      >
      <a
        class="font-medium text-gray-600 hover:text-gray-400"
        routerLink="reviews"
        >Reviews</a
      >
      <a
        class="font-medium text-gray-600 hover:text-gray-400"
        routerLink="wishlist"
        >Wishlist</a
      >
    </div>
  </div>
</div>
<router-outlet></router-outlet>
